@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:ital,wght@0,500;0,700;1,400&display=swap");

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 810px;
  margin: 0 auto;
}

body {
  color: #424551;
  font-family: Lato, sans-serif;
  line-height: 1.6;
}
h1,
h3 {
  font-weight: 900;
  font-size: 46px;
  line-height: 1.3;
  color: #1e212c;
}
h1 {
  margin: 95px 0 40px;
}
.data {
  color: #787A80;
}
.data p {
  background: url("../img/stroke.svg") left 5px / auto no-repeat;
  padding-left: 23px;
}
.span {
  display: inline-block;
  margin-left: 25px;
  padding-left: 23px;
  background: url("../img/union.svg") left 5px / auto no-repeat;
}
.img {
  margin-bottom: 65px;
}
.content {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #1e212c;
  margin: 0 0 35px 0;
}
.paragraph {
  padding-left: 45px;
  background: url(../img/rectangle.svg) 0 0 / auto no-repeat, url(../img/rectangle.svg) 18px 0 / auto no-repeat;
}
.block > p  {
  margin-bottom: 35px;
}
.content-2 {
  margin-bottom: 30px;
}
ul {
  margin-bottom: 30px;
}
li {
  margin-bottom: 4px;
  padding-left: 25px;
  background: url(../img/vector.svg) 0 6px / auto no-repeat;
}
.text {
  margin: 0 0 55px 0;
}
.block-2{
  max-width: 380px;
}
h2 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1.5;
}
h3 {
  margin-bottom: 45px;
}
.list {
  margin-bottom: 16px;
}

.button {
  padding: 16px 33px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 3.14;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}
.block-link {
font-weight: 700;
color: #1E212C;
text-align: right;
margin-bottom: 30px;
}
.link{
  margin-left: 12px;
}
